.user-item {
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
}

.user-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    background-color: white;
}

.user-item__image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.user-item__info h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    color:#212121;
}

.user-item__info:hover h2 {
    color: #8b3737;
}

