*{
    list-style: none;
    margin:0;
    padding: 0;
    text-decoration: none;
    color:black;
    font-weight: normal;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
    background: #FFF6DA;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* https://colorhunt.co/palette/a94a4af4d793fff6da889e73 */